* {
    box-sizing: border-box;
}

.content {
    margin: 100px auto;
    border: 1px solid black;
    border-radius: 12px;
    width: 450px;
    text-align: center;
    padding-top: 30px;
    background-color: #faf9f9;
}

.content1 {
    font-size: 20px;
    margin: 50px auto 70px auto;
    border: 1px solid black;
    border-radius: 12px;
    width: 350px;
    text-align: left;
    padding: 20px;
    background-color: #eceaea;
}

input{
    width: 99%;
    border-radius: 6px;
    font-size: 16px;
}

.laske {
    font-size: 18px;
    background-color: #28ea28;
    border-radius: 6px;
}

.laske:hover,
.laske:active {
    background-color: #32d232;
    cursor: pointer;
}
